<%= form_for(@admin_catalog) do |f| %>
  <% if @admin_catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_catalog.errors.count, "error") %> prohibited this admin_catalog from being saved:</h2>

      <ul>
      <% @admin_catalog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
