<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_staff.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @admin_staff.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @admin_staff.address %>
</p>


<%= link_to 'Edit', edit_admin_staff_path(@admin_staff) %> |
<%= link_to 'Back', admin_staffs_path %>
